@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 9</h1>
    <p class="lead">Handling rich text and non-text media items with Artists, Albums, and Tracks.</p>
    <p><a href="http://petermcintyre.com/bti420/graded-work/assign9/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About this app</h2>
        <p>Add and display rich text (Artists)</p>
        <p>Add sample clips for tracks.</p>
        <p>Add non-text media items to artists.</p>
    </div>
</div>
